* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.header {
  padding: 15px 30px;
  width: 400px;
  background-color: #8abea0;
  border-radius: 20px 20px 0 0;
}

.header__title {
  text-align: center;
  color: #fff;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100vh;
  font-family: Arial, Helvetica, sans-serif;
}

main {
  position: relative;
}

.input {
  max-width: 150px;
}

.error {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.error__container {
  background-color: #c5342c;
  height: 50px;
  width: 300px;
  border-radius: 25px;
  margin: 15px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.error__paragraph {
  text-align: center;
  color: #fff;
  font-weight: 700;
  font-size: 18px;
}

.history {
  position: absolute;
  top: 0;
  left: 0;
  width: 100px;
  background-color: #b46b6b;
  z-index: 2;
}

.history__content {
  margin: 10px 0;
  background-color: #a03636;
  width: 100px;
  height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.history__content:first-child {
  margin: 0;
}

.history__content:last-child {
  margin: 0;
}

.history__number {
  text-align: center;
  color: #fff;
}

.calculator {
  padding: 20px 30px;
  width: 400px;
  background: #f8f8f8;
}

.calculator__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.calculator__label {
  font-size: 16px;
  padding: 30px 0 5px 0;
  text-align: center;
  font-size: 16px;
  color: #3a3a3a;
}

.calculator__label--radio {
  padding: 0 0 0 10px;
}

.calculator__input {
  border-radius: 20px;
  padding: 10px;
  border: 1px solid #b7ddba;
  min-width: 200px;
}

.calculator__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 25px auto;
  padding: 15px 10px;
  width: 150px;
  border: 0px;
  border-radius: 20px;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 20px;
  color: #fff;
  background-color: #8abea0;
}

.calculator__radio {
  padding: 20px 0 5px 0;
}

.calculator__radio--button {
  border: 1px solid #fff;
  background: #000;
  padding: 40px;
}

.results {
  margin: 15px 20px;
  padding: 15px 20px;
  background-color: #8abea0;
}

.results__text {
  font-weight: 400;
  text-align: center;
  color: #fff;
}

.results__value {
  font-weight: 700;
}

.results__currency {
  font-weight: 700;
}

.footer {
  padding: 15px 30px;
  width: 400px;
  background-color: #8abea0;
  border-radius: 0 0 20px 20px;
}

.footer__title {
  color: #fff;
  text-align: center;
}
/*# sourceMappingURL=styles.css.map */